// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Sora", "Helvetica", "sans-serif";
$headers-font: "Sora", "Helvetica", "sans-serif";

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  font-weight:600;
}

p {
  font-size: 16px;
  font-weight:400;
}

a {
  font-size: 16px;
  font-weight:600;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
