h2 {
  color: black;
  padding-bottom: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
  display: inline-block;
}
.all-animals-link {
  color: #f00; //red
}
