// Specific CSS for your home-page


body {
  text-align:center;
  height: 100%;
  margin: 0;
  background: linear-gradient(-45deg, #197E70, #13A492, #80CCC0, #13A492);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#landing {
  background-image: url("https://images.unsplash.com/photo-1595114720921-5a56692ed4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80
  ");
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 80px;
  color:white;
}

.cta a {
  text-decoration:none;
  color: white;
  background-color: #13A492;
  padding: 16px;
  border-radius: 8px;
}

input[type="submit"] {
  text-decoration:none;
  color: white;
  background-color: #13A492;
  padding: 16px;
  border: 0;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: #01524a;
}

.banana {
  text-decoration: none;
  color: white;
  font-weight:bold;
  border:none;
  background-color: #13A492;
  padding: 8px;
  border-radius: 8px;
  flex-grow: 0;
  margin-bottom: -18px;
}

.banana:hover {
  background-color: #01524a;
}


.cta a:hover {
  background-color: #01524a;
}

h2 {
  font-size: 32px;
  color:white;
  padding-bottom: 40px;
}
