<h1>Bookings#new</h1>
<h2>The user will see this page when he wants to book one animal. Here the user enters the required user details for booking.</h2>
<p>Find me in app/views/bookings/new.html.erb</p>
