<div class="footer bg-secondary mt-3 pb-3">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github p-3 link-light"></i></a>
    <a href="#"><i class="fab fa-instagram p-3 link-light"></i></a>
    <a href="#"><i class="fab fa-facebook p-3 link-light"></i></a>
    <a href="#"><i class="fab fa-twitter p-3 link-light"></i></a>
    <a href="#"><i class="fab fa-linkedin p-3 link-light"></i></a>
  </div>
  <div class="footer-copyright">
    UGLYMALS
  </div>
</div>
