<h1>Animals#index</h1>
<h2>This page will show all animals available for booking!</h2>
<h6>All available animals:</h6>
<p>Find me in app/views/animals/index.html.erb</p>

<ul>
<% @animals.each do |animal| %>
  <li>
    <% if animal.photo.key %>
      <%= cl_image_tag animal.photo.key, height: 64, width: 64, radius: :max, crop: :fill  %>
    <% end %>
    <%= "Name: #{animal.name}, Price: #{animal.price}, Age: #{animal.age}, Species: #{animal.species}" %>
    <%= link_to 'Show', animal_path(animal) %>
  </li>
<% end %>
</ul>
<%= link_to 'Back to Home', root_path %>
