<div class="container", id="show-animal">
  <div class="card show">
    <%= render "show", animal: @animal %>
    <div class="show-form animal-page"><%= render "bookings/form", animal: @animal, booking: @booking %></div>
    <!-- <%= link_to 'Back to index', animals_path, class: "btn btn-primary" %> -->
  </div>

</div>
