.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  padding-bottom: 64px;
  padding-left: 40px;
  padding-right: 40px;
}

.card {
  border-radius:20px;
  border:none;
  background:hsl(0, 0%, 95%)
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 32px;
  padding-top: 32px;
  color:red;
}

.card-title img{
width: 80px;
height: 80px;
}

.card-title h2{
margin-left:16px;
font-size: 24px;
}

.card-detail-right {
  margin-left: 80px;
  margin-left: 80px;
  width:100%;
}

.card-title h2 {
  color: hsla(0, 0%, 0%, 0.851);
}

.card-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  margin: 40px;
}

.cta_full_width a {
  text-decoration:none;
  background-color: #13A492;
  color: hsl(0, 0%, 95%) ;
  width:100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align:center;
  border-radius: 8px;
  font-weight:bold;
}

.cta_full_width a:hover {
   background-color: #0d6a5f;
   color: hsl(0, 0%, 100%) ;
   }

.image {
  width: 100%;
  object-fit: cover;

  img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 240px;
  }
}

.animal-page a{
  border: none;
}

.animal-page label{
  color:rgb(0, 0, 0);
}

.info {
  text-align:left;
  padding: 24px;
}

.show-form {
  padding-right:32px;
  padding-left:32px;
  padding-bottom:32px;
}

.show-form a {
  border:none;
}

.show {
  margin-bottom:40px;
  margin-top:40px;
}
