.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.card {
  padding: 16px;
  text-align:left;
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
}

.card-title h2 {
  color: black;
}

.card-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  margin: 40px;
}

.cta_full_width a {
  text-decoration:none;
  color: white;
  background-color: #13A492;
  padding: 16px 40px;
  border-radius: 8px;
  margin: 16px 0px;
}
