.navbar-lewagon {
  justify-content: space-between;
  background: rgba(243, 251, 250, 0.95);
  align-items: center;
  padding: 4px 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.btn {
  background-color: #13A492;
  padding: 6px 12px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #0a675c;
}

.btn a {
  color: white;
  text-decoration: none;
}
